@model ActionResults.Models.Character
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Styles/IndexStyle.css" />
    <title>Index</title>
</head>
<body>
    <div id="navbar">
            @Html.ActionLink("Text", "StringPage")
            @Html.ActionLink("XML", "XMLPage")
            @Html.ActionLink("JSON", "JSONPage")
            @Html.ActionLink("Hey_Gurl", "ErrorPage")
            @Html.ActionLink("Download", "DownloadPage")
    </div>
    <div class="character_div">
        <div id="Name">
            @Model.Name
        </div>
        <div id="Image">
        </div>
   <div class="stats">
            <div id="Level">
                <h3>Level: @Model.Level</h3>
            </div>
            <div id="HP">
                <h3>HP: @Model.HealthPoints</h3>
            </div>
            <div id="Attributes">
                <h3>Attributes</h3>
                <table id="attributes_tables">
                    @foreach (KeyValuePair <string, Int32> attribute in Model.Attributes)
                        {
                         <tr>
                            <td>@attribute.Key:</td>
                            <td>@attribute.Value</td>
                        </tr>
                        }
                </table>
            </div>
    </div>

        XML Page does not work, unsure why but it is commented out so that everything else would run.
        </div>
</body>
</html>
